
.home-body{
  color: #333;
  font-size: 16px;
  font-family: 'Noto Sans JP', 'Lato',sans-serif;
  font-weight: 400;
  text-align: justify;
}
.container {
  // max-width:1128px;
  max-width:1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}



.main {
  display: flex;
  height: 85vh;
  color: #333;
  
  background-color: #E4DEBE;
  @include tablets{
    // background-image:url(/images/bg-gray.jpg);
    
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 36px;
    padding-bottom: 46px;
    
  }

  .main-pic{
    width: 52%;
    @include tablets{
        width: 60%;
      }
    img{
        vertical-align: middle;
        object-fit: cover;
        width: 100%;
        height: 100%;
        @include tablets{
            border-radius: 15px;
          }
    }
  }
  .main-content{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:24px;
    // background-image:url(/images/bg-gray.jpg);
   
    @include tablets{
        width: 100%;
        padding-top: 56px;
        padding-bottom: 56px;
        margin-bottom: 24px;
        order: -1;
      }
    p{
        font-family:  'Noto Sans JP', sans-serif;
        font-weight: 400;
        text-align: center;
        line-height: 28px;
        letter-spacing: 3px;
        font-size: 16px;
      }  
    p+p{
        margin-top: 40px;
      }
    .teaIcon{
        width: 100px;
        height: 100px;
        margin-bottom: 46px;
      }  
    img{
        animation: moving 3s linear infinite;
      
      }  
  }
}

/* cup icon */
@keyframes moving{
  0%{transform: translateX(0rem);}
  50%{transform: translateX(-3rem);}
  100%{transform: translateX(0rem);}
}

.tea-production{
  background-color: #f6edd0;
  background-image: "/images/pexels-photo-03.webp";
  background-position: center ;
  background-size: cover ;
  background-repeat: no-repeat;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 251, 251, 0.3);
}
  
}
.tea-production-process{
  display: flex;
  justify-content:space-evenly;
  padding-top: 160px;
  padding-bottom: 160px;
  
  
  @include phones{
    flex-wrap: wrap;
    padding-top: 98px;
    padding-bottom: 60px;
   
  }
}
.method{
  width: 45%;
  position: relative;
  cursor: pointer;
  @include phones{
    width: 90%;
    margin-bottom: 38px;
  }
  img{
    width: 100%;
    height: auto;
    display: block;
  }

  .method-txt{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all 0.6s ease;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    @include phones{
      opacity: 1;
      text-align: start;
      background-color: rgba(109, 94, 94, 0.3);
      text-shadow:  3px 3px 2px #312f2f;
    }
  }
  &:hover .method-txt{
    opacity: 1;
    
  }
  
}
// 上質茶葉
.leaf-group{
  padding-top: 76px;
  padding-bottom: 76px;
}
.sub-title2 h2{
  text-align: center;
  font-size: 28px;
  font-family: 'Kaisei Opti', serif;
  color:#556B2F;
  background-color: #fff;
  @include phones{
    font-size: 18px;
    padding: 5px 0;
  }
}
.leaf-text{
  display: flex;
  justify-content: space-evenly;
  padding: 48px 20px;
  @include phones{
    padding: 20px;
  }
  p{
    font-family: 'Kaisei Opti', serif;
    text-align: center;
    flex: 1;
    padding: 24px;
    line-height: 2;
    font-size: 18px;
    @include phones{
      font-size: 16px;
      text-align: start;
    }
  }
  .leaf-icon {
    width: 8%;
    
    align-self: flex-start;
    animation: rotation 5s infinite linear;
    @include phones{
      width: 10%;
    }
    img{
      width: 100%;
      vertical-align: middle;
      object-fit: contain;
      
    }
  }
}

/* leaf icon */
@keyframes rotation {
  from {transform: rotate(0deg);}
  to { transform: rotate(359deg);}
}



// new
.home-background-color{
  background-color: #EEE6C9;
  
}
// ! 分類1
.taiwan-drink{
  // background-color: #ece3d1;
  background-color: #EEE6C9;
  padding-top: 180px;
  padding-bottom: 120px;
  
  @include phones{
    padding-top: 120px;
    padding-bottom: 70px;
  }
  .t-drink-box{
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 36px 46px;
    border-radius: 150px;
    margin: 0 auto;
    @include phones{
      flex-direction: column;
      border-radius: 15px;
      padding:52px 24px;
    }
    
    .t-drink-title{
      // width: 400px;
      // height: 166px;
      width: 40%;
      position: absolute;
      top:-20%;
      left:-5%;
      @include phones{
        width: 60%;
        top: -10%;
        left: 0;
      }
      img{
        vertical-align: middle;
        width: 100%;
        height: 100%;
      }
    }
    .t-drink-illust{
      width: 30%;
      position: absolute;
      bottom:-45%;
      left:15%;
      z-index: 2;
      @include tablets{
        width: 40%;
      }
      @include phones{
        width: 60%;
        bottom:-25%;
        left:0;
      }
      img{
        vertical-align: middle;
        width: 100%;
        height: 100%;
        
      }
    }
    p{
      width: 50%;  
      line-height: 2.5;
      font-family: "Zen Kaku Gothic New", sans-serif;
      font-size: 18px;
      @include tablets{
        line-height: 2;
      }
      @include phones{
        width: 80%;
        margin-bottom: 24px;
        font-size: 15px;
      }
    }
    .t-drink-img{
      width: 28%;
      @include phones{
        width: 50%;
      }
      img{
        vertical-align: middle;
        width: 100%;
        height: 100%;
        border-radius: 80px;
        @include phones{
          border-radius: 15px;
        }
      }
    }
   
  }

}
// ! 分類2
.taiwan-drink2{
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  background-color: #D6CC99;
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  &::before{
    content: "\5C 豊かな食感が楽しい \2F";
    position: absolute;
    left: 22%;
    bottom: 14%;
    font-size: 24px;
    color: #AC6239;
    @include phones{
      
      bottom: 8%;
      font-size: 20px;
    }
    
  }

}

.t-drink-box2{
  // border: red 1px solid;
  display: flex;
  justify-content: space-around;

  @include phones{
    flex-direction: column;
    align-items: center;
  }
  .t-drink-img{
    width: 30%;
    position: relative;
    
    @include tablets{
      width: 36%;
      align-self: center;
    }
    @include phones{
      width: 70%;
      margin-bottom: 34px;
    }
    &::before{
      content: "";
      position: absolute;
      left: -7%;
      top: -4%;
      width: 100%;
      height: 100%;
      background-color:#E49119;
      background-color: #AC6239;
    }
    img{
      position: relative;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .t-drink-text{
    width: 50%;
    background-color: #fff;
    padding: 36px 66px;
    padding-top: 46px;
    line-height: 2.5;
    
    @include tablets{
      padding: 36px 46px;
      line-height: 2;
    }
    @include phones{
      width: 90%;
      line-height: 1.7;
      font-size: 14px;
    }
    & :first-child{
      width: fit-content;
      font-size: 32px;
      margin-bottom: 46px;
      text-align: center;
     
      color: #43382e;
      background: linear-gradient(transparent 70%, #ffe187 0);
      line-height: 1.2;
      font-family: "M PLUS Rounded 1c", sans-serif;
      // font-family: "Yusei Magic", sans-serif;
      white-space: nowrap;
      
      @include tablets{
        font-size: 25px;
      }
      @include phones{
        font-size: 20px;
      }
    }
  }
}

// ! 分類3

.fruitTeaBox{
  padding-top: 86px;
  position: relative;
  @include phones{
    padding-top: 56px;
    padding-bottom: 46px;
  }
  .t-drink-illust2{
    width: 110px;
    position: absolute;
    bottom: -15%;
    right:15%;
    z-index: 2;
    @include phones{
      width: 80px;
    }
    img{
      width: 100%;
      object-fit: contain;
    }
    @include phones{
      
    }
    img{
      vertical-align: middle;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .title{
      position: relative;
      left: -24px;
      z-index: 2;
      width: fit-content;
      background-color: #fff;
      color: #666;
      padding:12px 34px;
      font-size: 22px;
      text-align: center;
      border-radius: 45px;
     @include tablets{
      left: 15%;
      @include phones{
        font-size: 18px;
      }
     }
      & :last-child{
        font-size: 16px;
        color: #333;
        @include phones{
          font-size: 14px;
        }
      }
      &::before{
        position: absolute;
        top: -16px;
        left: 40%;
        content: "\f005";
        font: var(--fa-font-solid);
        color: #edad4e;
      }
    }
  
    
}
.fruitTea-Bg{
  display: flex;
  justify-content: space-between;
  
  .left{
    width: 62%;
    @include phones{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    img{
      vertical-align: middle;
      width: 100%;
      height: auto;
      object-fit: cover;
      transform: translateY(-5%);
      border: 5px solid #fff;
    }
    .content{
      width: 65%;
      background-color:rgba(255, 255, 255, 0.8);
      line-height: 1.8;
      letter-spacing: .1rem;
      padding: 68px 40px;
      transform: translate(82%, -82%);
      @include tablets{
        width: 80%;
        transform: translate(70%, -32%);
      }
      @include phones{
        transform: translate(0);
        width: 100%;
        padding: 46px 30px;
        font-size: 14px;
      }
  }
}
  .right{
    width: 26%;
    border: 5px solid #fff;
    align-self: center;
    @include tablets{
      align-self: flex-start;
    }
    @include phones{
      display: none;
    }
    img{
      vertical-align: middle;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }


}
// ! 分類4
.fruitTea2{
  background-color: #D6CC99;
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  padding-top: 136px;
  padding-bottom: 230px;
  @include phones{
    padding-bottom: 120px;
  }
  .fruitTea2Box{
    display: flex;
    position: relative;
    
    
    .fruit-pic{
      width: 33%;
      @include phones{
        align-self: center;
        border: 3px solid #fff;
      }
      img{
        vertical-align: middle;
        width: 100%;
        object-fit: cover;
      }
    }
    .fruit-text{
      width: 40%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      line-height: 2;
      letter-spacing: 1.5px;
      padding: 36px 44px;
      text-align: justify;
      @include tablets{
        width: 58%;
        letter-spacing:normal;
        justify-content: center;
        @include phones{
          width: 67%;
          line-height: 1.5;
          font-size: 14px;
          padding:36px 24px;
        }
      }
      p + p{
        margin-top: 24px;
      }
    }
    .fruit-pic-r{
      position: absolute;
      bottom: -20%;
      right: 17%;
      width: 35%;
      @include tablets{
        bottom: -35%;
      }
      @include phones{
        
        display: none;
      }
      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #E49119;
        background-color: #AC6239;
        right: -5%;
        bottom: -7%;
      }
      img{
        position: relative;
        vertical-align: middle;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  
  
}









// .item-text 
// .item-text 
// .milk-tea h4{
//   color: #ba8655;
  
// }
// .mango h4{
//  color: #e4b963;

  
// }
// .jasmine h4{
//   color: #666;
//   border-bottom:8px solid  #e4b963;
//   line-height: 1;
// }



// .item-pic-top img ,.item-pic-top-bottom img{
//   width: 100%;
//   height: auto;
//   display: block;
  
// }

// .bg-mango{
//   background-color: #fff9c3;
  
// }
// .bg-jasmine{
//   /* background-color: #ece9e3; */
//   background-image: url(images/bg-gray.jpg);
//   padding: 70px 0;
// }
// .bg-brown{
//   background-color: #AC6239;
// }
.home-footer {
  background-color: #E4DEBE;;
  color: #5c5049;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  
  .sns-link{
    display: flex;
    justify-content: center;
    font-size: 30px;
    li+li{
      margin-left: 24px;
      
    }
    a{
      color: #5c5049;
      &:hover{
        // text-decoration: underline;
        color: #AC6239;
        
      }
    }
    
  }
  p{
    font-size: 14px;
    margin-top: 12px;
  }
}




