/* news 分頁 */

.news-banner{
    background-image: url(../images/cha80.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90vh;
    padding-top: 36px;
    /* opacity: 0.9; */
    p{
      font-weight: 500;
      color: #fff;
      font-family: 'Lora', serif;
      text-shadow:2px 2px 3px  #ababab;
      font-size: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
    .title{
      font-size: 60px;
      margin-bottom: 24px;
    
    }
  }
  
.news-text{
  padding: 120px 0;
  text-align: center;
  font-family:  'Noto Sans JP', sans-serif;
  p{
    padding-left: 16px;
    padding-right: 16px;
    line-height: 2;
  }
}
  //! 優惠
  .promotion-BC{
    background-color: #f2ecde;
    background-color: #faf3de;
    background-color: #E4DEBE;
    background-color: #EEE6C9;
  }
  .promotion{
    display: flex;
    justify-content: space-around;
    padding-top: 48px;
    padding-bottom: 120px;
    @include phones{
      flex-direction: column;
      align-items: center;
    }
  }
  
  .promotion-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include tablets{
      width: 32%;
    }
    @include phones{
      width: 80%;
      margin-bottom: 24px;
    }
  }
  .promotion-content{
    background-color:#d2a263;
    
    padding:36px;
    font-size: 16px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #fff;
    flex: 1;
    
    border: 2px dashed #fff;
    margin: 8px;
    // display: flex;
    // align-items: center;
    text-align: justify;
   
    
  }
  
  .promotion-item img{
    width: 100px;
    height: 100px;
    display: block;
    
  }
  
  @keyframes shake{
    0%{ transform: rotate(-10deg); }
    100%{ transform: rotate(10deg); }  
  }
  .promotion-item:hover .promotion-pic{
    animation: shake .2s linear infinite alternate;
  
  }
  
  .promotion-item:hover .promotion-content{
    box-shadow: 2px 2px 6px #00000029;
    background-color: #ffffff;
    color: #976b3c;
    transition: all .3s ease-out;
  }
  
  
  .promotion-pic{
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .news-footer {
   
    background-color: #c7a882;
    background-color: #EEE6C9;
    background-color: #E4DEBE;
    background-color: #D6CC99;
    color: #64564e;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    
    .sns-link{
      display: flex;
      justify-content: center;
      font-size: 30px;
      li+li{
        margin-left: 24px;
        
      }
      a{
        color: #5c5049;
        &:hover{
          // text-decoration: underline;
          color:  #867870;
          
        }
      }
      
    }
    p{
      font-size: 14px;
      margin-top: 12px;
    }
  }
  