*,
*::before,
*::after {
  box-sizing: border-box;
}


.main,
.tea-production {
  /* background-color: #E3DDCF; */
  background-image:url(images/bg-gray.jpg);
  color: #333;
}

.container {
  max-width:1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans JP', 'Lato',sans-serif;
  font-weight: 400;
  
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.title {
  background-color: #AC6239;
  color: #fff;
  font-weight: bold;
  font-family: 'Slackside One', cursive;
}
.title h1{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: right;
  margin-right: 80px;
  
}
nav {
  box-shadow: 0px 2px 5px #ccc;
}
.nav ul {
  display: flex;
  padding: 20px 20px;
  
}
.nav li{
  margin-right: 26px;
  margin-left: 26px;
}
.nav a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Lora', serif;
  display:block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  
}
.nav a::after{
  content: "";
  position: absolute;
  background-color: #AC6239;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition:all 0.4s ease-out;
}
.nav a:hover{
  color: black;

}
.nav a:hover::after{
  width: 100%;

}
.main {
  display: flex;
  
}
.main-pic{
  width: 55%;
}
.main-content{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding:24px 0;
  
}
.main-content p+p{
  margin-top: 40px;
}

/* cup icon */
.teaIcon{
  width: 100px;
  height: 100px;
  margin-bottom: 48px;

}
.main-content img{
  animation: moving 3s linear infinite;

}
@keyframes moving{
  0%{transform: translateX(0rem);}
  50%{transform: translateX(-3rem);}
  100%{transform: translateX(0rem);}
}

.main p{
  font-family:  'Noto Sans JP', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  letter-spacing: 3px;
  font-size: 16px;
}

.tea-production {
  padding-top: 160px;
  padding-bottom: 160px;
  
  
}
.sub-title2 h2{
  text-align: center;
  font-size: 28px;
  font-family: 'Kaisei Opti', serif;
  color:#556B2F;
  padding-top: 76px;
  background-color: #fff;
}
.leaf-icon1{
  display: flex;
  justify-content: space-evenly;
  padding: 68px 20px;
  
}
.leaf-icon1 p{
  font-family: 'Kaisei Opti', serif;
  text-align: center;

}

/* leaf icon */
.leaf-icon1 img {
  animation: rotation 5s infinite linear;
  

}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to { transform: rotate(359deg);}
}

.tea-production-process{
  display: flex;
  justify-content:space-evenly;
}

.method{
  width: 45%;
  position: relative;
  cursor: pointer;
}
.method img{
  width: 100%;
  height: auto;
  display: block;
}

.method .method-txt{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: all 0.6s ease;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.method:hover .method-txt{
  opacity: 1;
  
}
.sub-title3{
  margin-bottom: 5px;
}
.sub-title3 h3{
  font-size: 28px;
  color: #ffffff;
  font-family: 'Kaisei Opti', serif;
  text-align: center;
  padding: 12px 0;
  background-color: #AC6239;
}

.popular-items-a{
  display: flex;
  justify-content: space-between;
  
  padding-top: 44px;
  padding-bottom: 44px;
  flex-wrap: wrap;
  
}
.popular-items-b{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-bottom: 44px;
  flex-wrap: wrap;
  

}
.item-text div{
  width: 60%;
}
.item-pic-top{
  width: 26%;
  align-self: flex-start;
  
}
.item-pic-bottom{
  width: 26%;
  align-self: center;
}
.hand-drawn{
  border-width: 5px;
  border-style: solid;
  border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
  padding: 20px;
  border-color: #5e5e5e;
}

.yellow-border{
  border-bottom: 5px solid #e4b963;
  padding: 5px;
}

.gray-border{
  border-bottom: 5px solid #acaca5;
  padding: 5px;

}
.item-text{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 32px;
  background-color: #ffffff;
  
}

.milk-tea .item-text,.mango .item-text{
  border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
}
.mango img,.milk-tea img{
  border-radius: 5% 94% 7% 95% / 90% 6% 93% 5%;
}
.jasmine .item-text{
  border-radius:25px;

}

.item-text p{
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #333;
  padding: 44px 52px;
  line-height: 1.5;
  
}
.item-text h4{
  font-family: 'Lora', serif;
  font-size: 48px;
 
  
}
.milk-tea h4{
  color: #ba8655;
  
}
.mango h4{
 color: #e4b963;

  
}
.jasmine h4{
  color: #666;
  border-bottom:8px solid  #e4b963;
  line-height: 1;
}



.item-pic-top img ,.item-pic-top-bottom img{
  width: 100%;
  height: auto;
  display: block;
  
}

.bg-gray{
  /* background-color:#E3DDCF; */
  background-image: url(images/bg-gray.jpg);
  padding: 70px 0;
}

.bg-mango{
  background-color: #fff9c3;
  
}
.bg-jasmine{
  /* background-color: #ece9e3; */
  background-image: url(images/bg-gray.jpg);
  padding: 70px 0;
}
.bg-brown{
  background-color: #AC6239;

}
footer {
  background-color: #6F5648;
  color: #E3DDCF;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  
}
.sns-link{
  display: flex;
  justify-content: center;
  font-size: 30px;
  
  
}
.sns-link li+li{
  margin-left: 24px;
}
.sns-link a{
  color: #ffffff;
}
.sns-link a:hover{
  text-decoration: underline;
  color: #e4b963;
  
}


@media(max-width: 992px){
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 60px;
  
  }
  .main-pic{
    width: 70%;
  }
  .main-pic img{
    border-radius: 25px;

  }

  .main-content{
    padding-bottom: 50px;
    width: 100%;
    order: -1;
  }
  .main-content p+p{
    margin-top: 20px;
  }

  .teaIcon{
    margin-bottom: 32px;
    margin-top: 32px;
  }
  
  .item-text{
    padding: 36px;
    
  }
  .item-text h4{
    font-size: 28px;
   
  }
  .tea-production {
    padding-top: 100px;
    padding-bottom: 100px;
    
    
  }

}











@media (max-width: 767px){
  
  .title h1{
    text-align: center;
    margin-right: 0;
    
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
  }
  
  
  
  .tea-production {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  
  .tea-production-process{
    flex-wrap: wrap;
    
  }
  .method{
    width: 90%;
    margin-bottom: 40px;
  }
  .sub-title h2{
    font-size: 18px;
    padding: 5px 0;
  }
  .teaIcon{
    margin-bottom: 28px;
    margin-top: 28px;
  }
  
  .item-text{
    width:80%;
    padding: 36px;
    margin-bottom: 30px;
    order: -1;
    
  }
  .item-text p{
    padding: 28px;
  }

  .popular-items-a{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
  }
  .popular-items-b{
    justify-content: center;
    padding-bottom: 20px;
  }
  .item-pic-top,.item-pic-bottom{
    width: 40%;
    
  }
  .bg-gray,.bg-jasmine {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  
  
  
  

}

/* product 分頁 */
.product-menu{
  
  /* background: rgb(249,200,115);
  background: linear-gradient(172deg, rgba(249,200,115,0.7904411764705882) 29%, rgba(241,240,121,1) 100%); */
  background-color: #f6eee0;

  
}
.product-menu h5{
  font-size: 40px;
  padding-top: 32px ;
  padding-bottom: 12px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  color: #b8422d;
  
}
.product-menu span{
  font-size: 20px;
  color: #251919;
  font-family: 'Kaisei Opti', serif;

}
.product-menu-icon{
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}
.product-category{
  display: flex;
  justify-content: space-around;
  padding: 60px;
  
}

.tea-item{
  width: 28%;
  background-color: #fff;
  box-shadow: 0px 2px 6px #00000029;
  display: flex;
  flex-direction: column;
  transform: translateY(0px);
  transition: all .3s;
}
.tea-item-pic{
  object-fit: cover;
  
}
.tea-item-pic img{
  width: 100%;
  display: block;
  
}
.tea-item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-size: 12px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  flex-grow: 1 
     
}
.tea-item-text h6{
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 8px;
  font-weight: 600;

}
.tea-item:hover{
  transform: translateY(-30px);
}
.tea-item:hover .tea-item-text{
  color: #ffffff;
  background-color: #251919;
  
}


/* news 分頁 */
.news-header{
  background-image: url(images/cha80.jpeg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90vh;
  padding-top: 36px;
  /* opacity: 0.9; */
}

.news-header p{
  font-weight: 500;
  color: #fff;
  font-family: 'Lora', serif;
  text-shadow:2px 2px 3px  #ababab;
  font-size: 16px;
  
}
.news-header .news-header-title{
  font-size: 60px;
  margin-bottom: 24px;

}
.news-text{
  padding: 120px 0;
  text-align: center;
  font-family:  'Noto Sans JP', sans-serif;
}
.promotion{
  display: flex;
  justify-content: space-around;
  padding-top: 44px;
  padding-bottom: 70px;
  margin-bottom: 48px;
  
}
.bg-pink{
  background-color: #ede1ca;

}
.promotion-item{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.promotion-content{
  background-color:#d2a263;
  padding:36px;
  font-size: 18px;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  color: #fff;
  flex-grow: 1;
  border-radius: 15px;
  border: 4px solid #fff;
  margin: 8px;
  display: flex;
  align-items: center;
  text-align: justify;
 
  
}

.promotion-item img{
  width: 100px;
  height: 100px;
  display: block;
  
}

@keyframes shake{
  0%{ transform: rotate(-10deg); }
  100%{ transform: rotate(10deg); }  
}
.promotion-item:hover .promotion-pic{
  animation: shake .2s linear infinite alternate;

}

.promotion-item:hover .promotion-content{
  box-shadow: 2px 2px 6px #00000029;
  background-color: #ffffff;
  color: #976b3c;
  transition: all .3s ease-out;
}


.promotion-pic{
  margin-top: 24px;
  margin-bottom: 24px;
}


